# Ignore files for PNPM, NPM and YARN
.yarn/**
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore files for SvelteKit
.svelte-kit/

# Ignore for build result
build/
src/app.html
static/*.html
static/**/*.html

# README
README.md