html {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: #000;
}

* {
    font-size: 20px;
    line-height: 1.2;
}

.title {
    font-size: 45px;
    font-weight: bold;

    margin-bottom: 20px;
}

.subtitle {
    margin-top: -20px;
    margin-bottom: 20px;
}

/* group */
.group {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.group.center {
    justify-content: center;
}

/* img */
img.round {
    border-radius: 50%;
}

/* link */
a {
    --background: #000;
    --text: #fff;

    background: var(--background);
    color: var(--text);
    text-decoration: none;
    padding: 10px;
}

a:hover,
a:focus {
    filter: brightness(0.9);
}

/* icon margin */
.fa {
    margin-right: 3px;
}
