/* Color */
:root {
    --text: #000000;
    --back: #fffaf0;
    --grad: #ffc7d0;
}

.yellow {
    --color: #ffcc4d;
    --text: #000000;
}

.blue {
    --color: #0079d1;
    --text: #ffffff;
}

.github {
    --color: #151013;
    --text: #ffffff;
}

/* Style */
html {
    font-family: D2Coding, sans-serif;
    font-size: 22px;
    text-align: center;
    height: 100vh;
    background: linear-gradient(var(--back), var(--grad), var(--back));
    background-size: 100vw 200vh;
}

h1 {
    font-size: 50px;
    padding: 15px;
    margin-bottom: 15px;
}

img.profile {
    border-radius: 50%;
}

div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    color: var(--text);
    border: var(--color) 1px solid;
    border-radius: .25rem;
    background-color: var(--color);
    margin: 4px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons a:hover,
.buttons a:focus {
    outline: none;
    filter: drop-shadow(0 0 3px var(--color));
}
