html {
    font-family: "Pretendard", sans-serif;
}

.background {
    display: flex;
    width: 100vw;
    height: 100vh;

    background-image: url("/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* 카드 */
.content {
    margin: auto;
}

.card {
    display: inline-block;
    padding: 30px;
    background-color: rgba(100, 100, 100, 0.55);
    border: 0;
}

/* 제목 및 본문 */
h1 {
    font-weight: 700;
    font-size: 35px;
    padding: 5px;
    color: #fff;
}

p {
    font-size: 20px;
    color: #e6e6e6;
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: 1px solid gray;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 가로 객체 목록 */
.objects {
    display: flex;
    justify-content: center;
}

.objects * {
    padding: 5px;
    gap: 0.5rem;
}

/* 링크 */
a {
    font-size: 20px;
    color: #e6e6e6;
    text-align: center;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #ffef00 !important;
    outline: none;
    text-decoration: underline 2px dotted;
    text-shadow: #ffef00 0 0 5px;
    text-underline-offset: 3px;
}
