/* Reset */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* Fonts */
@import url("https://cdn.jsdelivr.net/gh/chick0/fonts@master/d2coding/d2coding.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

/* Style */
:root {
    --text: #000000;
    --back: #fffaf0;
    --grad: #ffc7d0;
}

html {
    font-family: D2Coding, sans-serif;
    font-size: 22px;
    text-align: center;
    height: 100vh;
    background: linear-gradient(var(--back), var(--grad), var(--back));
    background-size: 100vw 200vh;
}

h1 {
    font-size: 50px;
    padding: 15px;
    color: var(--text);
    margin-bottom: 15px;
}

img.profile {
    border-radius: 50%;
}

div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    color: var(--text);
    border: var(--color) 1px solid;
    border-radius: .25rem;
    background-color: var(--color);
    margin: 4px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons a:hover,
.buttons a:focus {
    outline: none;
    filter: drop-shadow(0 0 3px var(--color));
}
