:root {
    --color: #ffcc4d;
    --text: #000000;
    --back: #fffaf0;
    --grad: #ffc7d0;
}

html {
    font-family: D2Coding, sans-serif;
    font-size: 24px;
    text-align: center;
    height: 100%;
    background: linear-gradient(var(--back), var(--grad));
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
    display: inline-block;
    padding: 15px;
    color: var(--text);
    background-color: var(--color);
    margin-bottom: 15px;
}

.box {
    margin-top: 50px;
    margin-bottom: 50px;
}

.box.is-button {
    display: flex;
    justify-content: center;
}

.box.is-button a {
    display: inline-block;
    text-decoration: none;
    color: var(--text);
    border: var(--color) 1px solid;
    border-radius: .25rem;
    background-color: var(--color);
    padding: 10px;
}

.box.is-button a:hover,
.box.is-button a:focus {
    outline: none;
    filter: drop-shadow(0 0 3px var(--color));
    text-shadow: var(--text) 1px 0 10px;
}

.box.is-button a:not(:last-child) {
    margin-right: 7px;
}
